In [13]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import numpy as np

In [14]:
page = requests.get('https://www.swiggy.com/city/hyderabad?page=1')

In [15]:
page.status_code

200

In [16]:
html = page.text

In [17]:
soup = BeautifulSoup(html)

In [18]:
# soup.prettify

In [19]:
names = soup.find_all('div', attrs={'class':'nA6kb'})

In [20]:
rating = soup.find('span', attrs={'class':'sNAfh'})
rating.text

'FLAT125 off | Use FLATDEAL'

In [21]:
name = []
cuisine = []
rating = []
avg_del_time = []
avg_price = []
offer = []

In [22]:
print(len(name))
print(len(cuisine))
print(len(rating))
print(len(avg_del_time))
print(len(avg_price))
print(len(offer))

0
0
0
0
0
0

In [23]:
for n in range(1,84):
    URL = 'https://www.swiggy.com/city/hyderabad?page={}'.format(n)
        
    page = requests.get(URL)
    htmlCode = page.text

    soup = BeautifulSoup(htmlCode)
    
    for item in soup.find_all('div', attrs={'class' : '_1HEuF'}):

        # name
        names = item.find('div', attrs={'class' : 'nA6kb'})
        name.append(names.text)

        # cuisine
        cuisine_ = soup.find('div', attrs={'class' : '_1gURR'})
        if cuisine_ is not None:
            cuisine.append(cuisine_.text)
        else:
            cuisine.append(np.nan)

        # ratings
        rating_ = soup.find('div', attrs={'class' : '_9uwBC wY0my'})
        if rating_ is not None:
            rating.append(rating_.text)
        else:
            rating.append(np.nan)

        # dilivery
        diliveryts = soup.find('div', attrs={'class' : '_3Mn31'})
        if diliveryts is not None:
            avg_del_time.append(diliveryts.text.split('•')[1])
        else:
            avg_del_time.append(np.nan)
        
        # avgerage price
        avg_price_ = soup.find('div', attrs={'class' : 'nVWSi'})
        if avg_price_ is not None:
            avg_price.append(avg_price_.text)
        else:
            avg_price.append(np.nan)

        # offer
        offer_ = soup.find('span', attrs={'class' : 'sNAfh'})
        if offer_ is not None:
            offer.append(offer_.text)
        else:
            offer.append('No offer')

In [24]:
print(len(name))
print(len(cuisine))
print(len(avg_del_time))
print(len(avg_price))
print(len(offer))

1116
1116
1116
1116
1116

In [25]:
df = pd.DataFrame({'name':name,
                    'cuisine':cuisine,
                    'avg_del_time': avg_del_time,
                    'avg_price_for_2': avg_price,
                    'offers': offer})

df

,name,cuisine,avg_del_time,avg_price_for_2,offers
0,Hitech Bawarchi,"Biryani, Chinese, Indian, Kebabs, Tandoor",27 MINS,₹300 FOR TWO,50% off | Use WELCOME50
1,Mehfil,"Biryani, Chinese, Indian, Kebabs, Tandoor",27 MINS,₹300 FOR TWO,50% off | Use WELCOME50
2,Rice Bowl,"Biryani, Chinese, Indian, Kebabs, Tandoor",27 MINS,₹300 FOR TWO,50% off | Use WELCOME50
3,Magnolia Bakery,"Biryani, Chinese, Indian, Kebabs, Tandoor",27 MINS,₹300 FOR TWO,50% off | Use WELCOME50
4,Meridian Restaurant,"Biryani, Chinese, Indian, Kebabs, Tandoor",27 MINS,₹300 FOR TWO,50% off | Use WELCOME50
...,...,...,...,...,...
1111,Breads and Sauces,"Biryani, Snacks, Indian, Desserts",50 MINS,₹300 FOR TWO,50% off | Use WELCOME50
1112,Peppy Chicken,"Biryani, Snacks, Indian, Desserts",50 MINS,₹300 FOR TWO,50% off | Use WELCOME50
1113,Gelatissimo,"Biryani, Snacks, Indian, Desserts",50 MINS,₹300 FOR TWO,50% off | Use WELCOME50
1114,Chemistry With Chinestry,"Biryani, Snacks, Indian, Desserts",50 MINS,₹300 FOR TWO,50% off | Use WELCOME50
1115,desi momo,"Biryani, Snacks, Indian, Desserts",50 MINS,₹300 FOR TWO,50% off | Use WELCOME50

In [28]:
df.shape

(1116, 5)

In [27]:
df.to_csv('swiggy1.csv', index=False)